<div class="navbar-search">
	<div class="search-icons">
    <a class="open-form"><i class="fa fa-search"></i></a>
    <a class="close-form"><i class="fa fa-times"></i></a>
	</div>
  <div class="search-block-form">
    {{ content }}
  </div>
</div>